<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="libertypassage.com.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>



    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="q">

        <activity
            android:name=".basic.SplashActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".basic.LoginActivity" />
        <activity android:name=".basic.ForgotPassword" />
        <activity android:name=".basic.UpdatePassword" />
        <activity android:name=".basic.SignUpActivity" />
        <activity android:name=".basic.VerifyOTPSignUp" />
        <activity android:name=".basic.RequestOtpEmail" />
        <activity android:name=".basic.VerifyOtpEmailSignUp" />
        <activity android:name=".basic.VerifyOTPForgotPassword" />
        <activity android:name=".basic.Acknowledgement" />
        <activity android:name=".basic.EnrolmentDeclaration" />
        <activity android:name=".basic.MyTemperature" />
        <activity android:name=".basic.NoInternetConnection" />
        <activity android:name=".basic.AddAddress" />
        <activity android:name=".basic.ConfirmDetails" />
        <activity android:name=".basic.ChangeStatus" />
        <activity android:name=".basic.HomePage" />
        <activity android:name=".basic.RedLocationAlert" />
        <activity android:name=".basic.YellowInfectedAlert" />
        <activity android:name=".basic.UpdateAddress" />
        <activity android:name=".basic.UpdateProfile" />
        <activity android:name=".basic.VerifyOtpEmailUpadteProfile" />
        <activity android:name=".basic.RequestOtpEmailForgotPassword" />
        <activity android:name=".basic.VerifyOtpEmailForgotPassword" />
        <activity android:name=".basic.UpdateMyTemperature" />
        <activity android:name=".basic.LocationHistory" />
        <activity android:name=".basic.GlobeExploreActivity" />
        <activity android:name=".other.QRCodeScanerActivity" />
        <activity android:name=".other.QRScanResultActivity" />
        <activity android:name=".basic.TestingActivity" />


        <activity
            android:name=".image_croping.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".services.LocationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.MyService"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <receiver
            android:name=".services.RestartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="uk.ac.shef.oak.activity_recognition.sensor_service.RestartSensor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service android:name=".utilis.LocationUpdateService" />




        <service
            android:name=".services.LocationServiceContinue"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="libertypassage.com.app.services.SendNotification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name=".services.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>