<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="libertypassage.com.corporate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="Q">
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.LogInActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ForgotPassword"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.UpdatePassword"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SignUpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.VerifyOtpSignUp"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.VerifyOtpForgot"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.Acknowledgement"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.EnrolmentDeclaration"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MyTemperature"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MyAddress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ConfirmDetails"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ChangeStatus"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HomePage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.UpdateAddress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ConfirmNricId"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.UpdateProfile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AboutAppActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.UpdateMyTemperature"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HotSpotsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SafeEntryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SafeEntryCheckIn"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SafeEntryCheckOut"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SafeEntryFavourites"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.QRCodeScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.QRScanResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".corporate.EnterContactNumber"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".corporate.EnterReferenceNumber"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".corporate.ContactUs"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".corporate.ConfirmEmployer"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TestingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <service
            android:name=".services.GPSTrackerLocation"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name=".services.SendNotification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyService"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />
        <service
            android:name=".services.LocationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver
            android:name=".services.RestartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="uk.ac.shef.oak.activity_recognition.sensor_service.RestartSensor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utilities.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".utilities.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>